@import "tailwindcss";

:root {
  --blue-950: hsl(213, 96%, 18%);
  --purple-600: hsl(243, 100%, 62%);
  --blue-300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);

  --grey-500: hsl(231, 11%, 63%);
  --purple-100: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --blue-50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);
}

body {
  font-family: var(--font-ubuntu), sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

label {
  color: var(--blue-950);
  font-weight: 500;
  font-size: 14px;
}

input:checked + label .checkmark {
  background-color: var(--purple-600);
  border-color: var(--purple-600);
}
